#size {
    font-size: 400%;
    color: #000000;
}
#body {
    text-align: center;
    font-family: 'Comic Sans MS';
    border: 1px solid #000000;
    width: 20%;
    margin: auto;
    line-height: 50%;
    border-radius: 90%;
    height: 200px;
    background-color: #b96cc2;
}

#body:hover {
    background-color: #8cd87d;
}

.dino {
   font-size: 200%;
   color: #f2eeee;
}

a {
    text-decoration: none;
    color:#d24cdb;


}
a:hover {
    color: #282928;
    text-decoration: underline;
}

#book {
    text-align: center;
    margin-top: 3.5%;
    margin-left: 7%;
    font-size: 150%;
    background-color: #6fdb9e;
    width: 20%;
    align-items: center;
    border-radius: 80%;
    height: 220px;

}

#book:hover {
    background-color: #d24cdb;
}

#img {
    padding-top: 2%;
}

#text {
    margin-top: 0.5%;
}

#box {
    border-radius: 80%;
    background-color: #0e93a5;
    margin-left: 70%;
    width: 20%;
    height: 300px;
    text-align: center;
}

#mainBody {
   background-color: #33333f;
}

.honey {
    font-size: 150%;
    line-height: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#cat {
    padding-top: 15%;
}

#padding {
    padding-top: 1.5%;
}